/* optional Container STYLES */
.connectors-chart {
    height: 600px;
    width: 750px;
    margin: 5px;
    margin: 15px auto;
    border: 3px solid #ddd;
    border-radius: 3px;
}

.node {
    font-size: 11px;
}

.node.big-commpany {
    cursor: pointer;
    padding: 0 2px;
    min-width: 60px;
    text-align: center;
    height: 30px;
    border: 2px solid #e8e8e3;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    background: #fff;
}

.node.big-commpany:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin: 1px 0 0 1px;
    border: 2px solid #d3d3cb;
}

.node.big-commpany .node-name {
    line-height: 30px;
    color: #9b9b9b;
}

.node.big-commpany:hover .node-name {
    color: #8b8b8b;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
}
