/* optional Container STYLES */
.basic-popover-chart {
  height: 600px;
  margin: 5px;
  width: 900px;
}

.Treant>p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.node-name {
  font-weight: bold;
}

.nodeExample1 {
  padding: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #000;
  width: 200px;
  font-family: Tahoma;
  font-size: 12px;
}

.nodeExample1 img {
  margin-right: 10px;
}

.nodeExample1 p {
  cursor: pointer;
}

.popover {
  cursor: pointer;
  min-width: 200px;
  min-height: 100px;
}

.popover-title {
  white-space: nowrap;
  font-size: 0.8em;
}

.popover-content,
.btn {
  z-index: 9999;
  text-align: center;
  min-width: 75px;
}
