/* optional Container STYLES */
.collapsable-structure-chart {
    height: 600px;
    margin: 5px;
    width: 900px;
  }
  
  .Treant>.node {
    padding: 3px;
    border: 1px solid #484848;
    border-radius: 3px;
  }
  
  .Treant>.node img,
  text {
    width: 100%;
    height: 100%;
  }
  
  .Treant .collapse-switch {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  .Treant .node.collapsed {
    background-color: #DEF82D;
  }
  
  .Treant .node.collapsed .collapse-switch {
    background: none;
  }